@page
@model IndexModel
@{
    ViewData["Title"] = "SkiHub";
}

<!--Scripts Used In Page-->
<script type="text/javascript">
    function GetTouch() {
        if (('ontouchstart' in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0))
            window.location.href='/SkiHub/Interface';
        else
            window.location.href='/SkiHub/Display';
    }    
</script>

<div class="status">
    <p>Checking Display Type...Please Wait.</p>
</div>
<script>GetTouch();</script>



